/*insert style here*/

body,html {
	margin: 0;
}


#sliderMap {
	height: 400px;
	width: 100%;
}

#finalMap {
	width: 90vw;
	height: 80vh;
	/*z-index important for drawing order, 0 puts map on bottom*/
	z-index: 0;
	margin-left: 5%;
	margin-bottom: 5%;
}

.backgroundRow{
	margin-bottom:50%;
}

.background{
	width: 100vw;
	height: 100vh;
}

.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

h1{
	font-size: 100px;
}