/*insert style here*/
html {
	background-color: #0c1427;
}

body,html {
	margin: 0;
}

#map1{
	margin-bottom: 50%;
}

#locationMap {
	width: 90vw;
	height: 80vh;
	margin: 5%;
}

#sliderMap {
	height: 100vh;
	width: 100%;
}

#finalMap {
	width: 90vw;
	height: 80vh;
	/*z-index important for drawing order, 0 puts map on bottom*/
	z-index: 0;
	/*margin-left: 5%;*/
	/*margin-bottom: 5%;*/
	margin: 5%;
}

.legend-year {
	width: 40px;
	height: 20px;
	font-weight: bold;
	font-size: large;
	background-color: rgba(255,255,255,0.8);
	padding: 10px;
	border: solid gray 1px;
}

.yearLegend {
	margin-top: 0px !important;
}

/* title style */

header {
	position: relative;
	width: 100%;
	height: 600vh;
	align-items: center;
	display: flex;
	margin-bottom: 50px;
	padding-bottom: 50px;
}

header:before {
	content: '';
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 5;
}

header:after {
	content: '';
	position: absolute;
	top: 0;
	Left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, rgba(253, 225, 191, 0.95) 15%, rgba(253, 225, 191, 0.5) 25%, rgba(18,37,56,0.17969194513742992) 35%, rgba(247,248,231,0) 40%);
}
header img{
	position: absolute;
	width: 100%;
	pointer-events: none;

}
#land {
	margin-top: 175%;
	z-index: 6;
}
#titleText{
	position: absolute;
	top: 8%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top:auto;
}

/* end title style */




p.vert-center{
	color: #f7f8e7;
}

h1{
	font-size: 4em;
	color: aliceblue;
}

.IDArow{
	margin-bottom: 100px !important;
}

.IDA-points {
	background-color:rgba(255, 255, 255, 0) !important;
}