/*insert style here*/

body,html {
	margin: 0;
}

#map1{
	margin-bottom: 50%;
}

#locationMap {
	width: 90vw;
	height: 80vh;
	margin: 5%;
}

#sliderMap {
	height: 100vh;
	width: 100%;
}

#finalMap {
	width: 90vw;
	height: 80vh;
	/*z-index important for drawing order, 0 puts map on bottom*/
	z-index: 0;
	/*margin-left: 5%;*/
	/*margin-bottom: 5%;*/
	margin: 5%;
}

.legend-year {
	width: 40px;
	height: 20px;
	font-weight: bold;
	font-size: large;
	background-color: rgba(255,255,255,0.8);
	padding: 10px;
	border: solid gray 1px;
}

.yearLegend {
	margin-top: 0px !important;
}

.backgroundRow{
	margin-bottom:50%;
}

.background{
	width: 100vw;
	height: 100vh;
}


.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top:auto;
}

h1{
	font-size: 4em;
	color: aliceblue;